#hero{
    background: url(../img/HERO.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h2{
    font-size: 80px;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
    #hero h2{
        font-size: 60px;
    }
}
@media screen and (max-width: 480px) {
    #hero{
        background-position: left;
    }
    #hero h2{
        font-size: 20px;
    } 
}
#about { 
    display: flex;
    justify-content: center;
}

#about .content{
    width: 50%;
    background: #efefef;
}
#about .left{
    padding:  30px;
}
#about h2{
    margin-bottom: 50px;
}
#about .content p{
    line-height: 1.8;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
}
#about .right img{
    width: 100%;
}
@media screen and (max-width: 1024px) {
    #about .content p{
        font-size: 22px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    #about {
        flex-wrap: wrap;
    }
    about .content{
        width: 100%;
    }
    about .content p{
        font-size: 18px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px) {
    #about .content p{
        font-size: 16px;
        margin-bottom: 15px;
    }
}

#conversion{
    padding:  150px 30px;
    background: url(../img/Arups.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#conversion .content{
    text-align: center;
    border: 10px solid black;
    padding:  50px 30px;
    margin-bottom: 60px;
}
#conversion p{
    font-size: 20px;
    font-weight: 700;
}

#conversion h3{
    padding-bottom: 100px;
}
#conversion .content p{
    font-size: 24px;
    margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
    #conversion .content p{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    #conversion .content p{
        font-size: 18px;
    } 
}
@media screen and (max-width: 480px) {
    #conversion .content p{
        font-size: 16px;
    } 
}

